<div *ngIf="model">

<mat-grid-list cols="5" rowHeight="100px" *ngFor="let row of form; trackBy:trackByIndex">
  <mat-grid-tile *ngFor="let config of row.configs; trackBy:trackByIndex">

      <mat-form-field appearance="outline" *ngIf="config.type=='text'">
        <mat-label>{{config.label}}</mat-label>
        <input matInput placeholder={{config.placeHolder}} [(ngModel)]="model[config.key]">
      </mat-form-field>

      <mat-form-field *ngIf="config.type=='date'">
          <input matInput [matDatepicker]="picker" placeholder={{config.placeHolder}} [(ngModel)]="model[config.key]">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

    
        <mat-checkbox *ngIf="config.type=='boolean'">Male{{model[config.key]}}</mat-checkbox>
      

      <hr *ngIf="config.type=='hr'"/>
  </mat-grid-tile>
</mat-grid-list>



</div>