table {
    width: 100%;
  }

  button {
    margin: 16px 8px;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  .nima:hover {
    background: #638b88;
  }
  
  .nima:active {
    background: #efefef;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }