<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<button mat-raised-button (click)="addRow()"> Add </button>
<button mat-raised-button (click)="removeRow()"> Remove </button>
<button mat-raised-button (click)="copyRow()"> Copy</button>

<div class = "example-container mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef={{co}} *ngFor="let co of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{co.toUpperCase()}} </th>
    <td mat-cell *matCellDef="let element"> {{element[co]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" class="nima" tabindex="0"></tr>
</table>
</div>
