<mat-form-field appearance="outline" >
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<br>

<app-button-pane [commands]="addCommands()"></app-button-pane>

<br><br>
<app-list-pane [columns]="addColumns()"
               [displayedColumns]="displayedColumns"
               [ob]="behariorSouce"
               (someEvent1)="receiveData1($event)"></app-list-pane>


<app-edit-pane (test)="test($event)" [model]="selected" [form]="addForms()"></app-edit-pane>



