table {
    width: 100%;
  }

  button {
    margin: 16px 8px;
  }

  tr.example-detail-row {
    height: 0;
  }
  
 
  
  
  .mat-form-field {
    font-size: 14px;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }