table {
    width: 100%;
  }

  button {
    margin: 16px 8px;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  .nima:hover {
    background: #638b88;
  }
  
  .nima:active {
    background: #efefef;
  }

  .nima:focus {
    background-color: #638b88;
    outline: 0; /*remove outline*/
  }
  
  .mat-form-field {
    font-size: 14px;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }